<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task %>
    <%= form.text_field :task %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <% if @todo.picture.attached? %>
      <%= image_tag(@todo.picture, width: 50) %>
      <br>
    <% end %>
    <%= form.file_field :picture %>
  </div>

  <div class="field">
    <%= form.label :uploads %>
    <%= form.file_field :uploads, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
